{% extends 'Navbar.html' %}
{% block container %}

    <div class="containber row">
        <div class="col-sm-6">
            <div class="col-sm categories_box">
                <p class="categories_title">Sports:</p>
                <a class="btn btn-primary" href="testcat3.html">Basketball</a>
                <a class="btn btn-primary" href="#">Football</a>
                <a class="btn btn-primary" href="#">Dance</a>
            </div>
            <div class="col-sm categories_box">
                <p class="categories_title">Movies:</p>
                <a class="btn btn-primary" href="#">Comedy</a>
                <a class="btn btn-primary" href="#">Avengers</a>
                <a class="btn btn-primary" href="#">Thriller</a>
            </div>
            <div class="col-sm categories_box">
                <p class="categories_title">TV Shows:</p>
                <a class="btn btn-primary" href="#">Talk Show</a>
                <a class="btn btn-primary" href="#">Drama</a>
            </div>
            <div class="col-sm categories_box">
                <p class="categories_title">Weather:</p>
                <a class="btn btn-primary" href="#">Guelph</a>
                <a class="btn btn-primary" href="#">Toronto</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm categories_box">
                <p class="categories_title">School:</p>
                <a class="btn btn-primary" href="testcat4.html">Exam</a>
                <a class="btn btn-primary" href="#">Homework</a>
            </div>
            <div class="col-sm categories_box">
                <p class="categories_title">Anime:</p>
                <a class="btn btn-primary" href="#">Pokemon</a>
                <a class="btn btn-primary" href="#">Death Note</a>
                <a class="btn btn-primary" href="#">Avatar</a>

            </div>
        </div>


    </div>
{% endblock %}
